# values.yaml
global:
  postgresql:
    auth:
      postgresPassword: "postgres"
      username: "postgres"
      password: "postgres"
      database: "microservicio"
 
primary:
  persistence:
    enabled: true
    size: 8Gi